body{
	margin: 0;
	padding: 0;
	font-family: monospace;
}
a{
	color: initial;
	text-decoration: none;
}
img{
	max-width: 100%;
}
.wrapper{
	width: 1000px;
	position: relative;
	margin:0 auto;
	padding: 15px 0;
}
.main{
	padding-left: 290px;
}
#top{
	width: 1000px;
	padding: 15px;
	margin: 0 auto;
	height: 110px;
	background: #99f;
	display: table;
}
#top a{
	color: white;
	font-size: 40px;
	font-style: italic;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
	margin-top: 50px;
	padding: 0 15px;
	display: table-cell;
	vertical-align: bottom;
}
#totop{
	position:fixed;
	right: 0;
	bottom: 0;
}
#totop a{
	display: table;
	color: black;
	text-decoration: none;
	font-size: 20px;
}
#totop .btn{
	width:100px;
	height:50px;
	background:whitesmoke;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#totop .btn:hover{
	opacity: 0.5;
}
form.newtopic{
	padding-top: 10px;
}
.newtopic input[type="text"]{
	width: calc(100% - 51px);
}
.newtopic input[type="submit"]{
	width: 43px;
}
input[type="submit"]{
	background: white;
	border: solid 2px whitesmoke;
}
a.topic{
	color: #666;
	text-decoration: none;
}
a.topic h2{
	color: #99d;
	margin: 5px 0;
}
a.topic .detail{
	font-size: 9px;
	border-bottom: 1px solid #eee;
	height: 19px;
}
.loginwrap form[name="login"]{
    display: flex;
    justify-content: space-between;
}
.loginwrap input[name="username"]{
	width:110px;
}
input[type="password"]{
	width:60px;
}
textarea{
	width:100%;
	margin: 10px 0;
	display: block;
}
div.right{
	text-align: right;
}
div.tlist{
	padding-bottom: 15px;
}
div.tlist:hover{
	background: rgba(240,240,255,0.5);
}
div.clist{
	margin: 1em 0;
	padding: 1em;
	border-top: 1px solid skyblue;
}
div.clist .cont{
	padding: 1em 0;
}
form.deletetopic{
	display: inline-block;
	margin: 0;
}
form.deletecontent{
	text-align: right;
	margin: 0;
}
.loginwrap{
	position: absolute;
	width: 240px;
	height: 60px;
	left: 0;
	top: 24px;
	text-align: right;
	z-index: 9;
	padding: 10px;
	background: #fafaff;
}
.openpage{
	padding: 2px 0;
	width: 100px;
	display: inline-block;
	text-align: center;
	border: 1px solid #ccc;
	background: #eee;
	color: black;
}
#newaccountwrap{
	display: none;
	margin: 4px 0;
}
#newaccountwrap form[name="newaccount"]{
	width: 100px;
	display: inline-block;
}
#newaccountwrap form[name="newaccount"] input{
	width: 100%;
	margin: 2px 0;
}
.message{
	padding: 1em 0;
	position: absolute;
	top: -40px;
	width: 400px;
	text-align: left;
}
.searchform form{
	position: absolute;
	width: 240px;
	left: 0;
	top: 120px;
	padding: 10px;
	display:flex;
	justify-content: space-between;
	background: #fafaff;
}
.searchform form input[type="text"]{
	width: calc(100% - 55px);
}
.searchform form input[type="submit"]{
	width: 43px;
}
.recent{
	position: absolute;
	width: 240px;
	height: auto;
	left: 0;
	top: 170px;
	padding: 10px;
	background: #fafaff;
}
.rlist{
	border-bottom: 1px solid #eef;
	position: relative;
	margin: 10px 0;
}
.rlist img{
	height: 20px;
}
.rcont{
	overflow: hidden;
	width: 179px;
	max-height:2em;
}
.rdate{
	text-decoration: none;
	font-size: 9px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.page{
	display: flex;
	justify-content: space-between;
}
.page a{
	display: inline-block;
	padding: 4px 10px;
	font-size: 20px;
	text-decoration: none;
}
.page a:hover{
	background: #ddf;
}
.page a.current{
	color: #336;
	background: #eef;
}
.page a.current:hover{
	background: #ddf;
}
.pagecenter{
	text-align: center;
}